.project_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    padding: 20px;
    flex-direction: column;
    background-color: hsl(216, 33%, 85%);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title {
    font-size: 3rem;
}
  
  
.project{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  

.prev{
    transform: scaleX(-1);
  }
  
.prev, .next{
    background-color: var(--primary-color);
    width: 2.5rem;
    height: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
}

svg{
    align-items: center;
    margin-inline: auto;

}

.card{
    width: 50rem;
    height: 35rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-inline: center;
}

.img{
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 40rem;
}

.card h2{
    margin-bottom: 1rem;
}

.card p{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
}

@media screen and (max-width: 768px) {
    .card{
        order: -1;
        width: 94%;
        height: 23rem;
        border-radius: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }

    .title {
        font-size: 2rem;
    }
    
    .img{
        padding-top: 2rem;
        padding-bottom: 1rem;
        width: 80%;
    }

    .card h2{
        font-size: 1rem;
    }

    .card p{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: left;
    }

    .project{
        display: flex;
        flex-wrap: wrap;
    }
    .prev, .next{
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--primary-color);
        margin-left: 0.5rem;
        margin-right: 0rem;
        margin-top: 0.1rem;
        padding: 0.3rem 0.3rem 1rem 1rem;
        border-radius: 0.1;
        box-sizing: inherit;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        justify-content:space-around;
    }
}