.certificate {
    background-color: #F5F7FA;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.title {
    font-size: 3rem;
    margin-inline: auto;
}

.certificate_container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card{
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    height: 28rem;
    border-width: 0.05rem;
    border: solid;
    border-color: hsl(0, 0%, 95%);
}

.card img{
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    border-bottom: solid;
    border-color: hsl(0, 0%, 95%);
}

.card h3{
    text-align: center;
}

@media screen and (max-width: 1024px){
    .certificate_container{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 768px){
    .certificate_container{
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .title {
        font-size: 2rem;
    }

    .card{
        height: 23rem;
    }
}