.profile {
    background-color: var(--secondary-color);
  }
  
.profile_article{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    gap: 1rem;
    padding-top: 1rem;
    margin-bottom: 20px
}
  
.profile_detail{
    padding: 3rem;
    color: var(--primary-color);
}
.extra_info{
    color: var(--primary-color);
    margin-bottom: 0;
}

.extra_info_hidden{
    display: none;
}
.profile_detail h2 {
    font-size: 4rem;
    margin-bottom: 0;
}
  
.name{
    color: var(--primary-color);
}
  
.name:hover{
    text-decoration: underline;
    text-decoration-color: var(--forth-color);
    text-decoration-thickness: 0.1rem;
}
  
.profile_detail h3{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
  
.role{
    color: var(--forth-color);
}
  
.role:hover{
    text-decoration: underline;
    text-decoration-color: var(--forth-color);
    text-decoration-thickness: 0.1rem;
}
  
.more_button{
    background-color: var(--third-color);
    color: var(--primary-color);
    border-radius: 10000px;
    border-style: none;
    font-size: 1.5rem;
    height: 4rem;
    width: 13rem;
}
  
.more_button:hover{
    background-color: var(--forth-color);
    color: #020626;
}

.more_button_hidden{
    display: none;
}

.show_hidden{
    background-color: var(--third-color);
    color: var(--primary-color);
    border-radius: 10000px;
    border-style: none;
    font-size: 1rem;
    height: 2rem;
    width: 7rem;
    margin-top: 1rem;
}
.show_hidden:hover{
    background-color: var(--forth-color);
    color: #020626;
}

.hidden{
    display: none;
}
  
  
.image_profile{
    box-sizing: content-box;
    border-radius: 999px;
}
  
.image_profile img{
    height: 400px;
    border-radius: 999px;
}

@media screen and (max-width: 768px) {
    .profile_article {
        display: flex;
        flex-direction: column-reverse;
    }
  
    .profile_article h2 span {
        font-size: smaller;
        margin-top: 0;
        padding-top: 0;
    }
    
    .image_profile{
        padding: 0;
        margin: 0;
    } 
    .show_hidden{
        background-color: var(--third-color);
        color: var(--primary-color);
        border-radius: 10000px;
        border-style: none;
        font-size: 0.7rem;
        height: 1rem;
        width: 4rem;
        margin-top: 1rem;
    }

}
