:root {
  --primary-color : #FFFFFF;
  --secondary-color : #323848;
  --third-color : #336EF9;
  --forth-color : #FFB302;
  --text-color : #020626;
  --bg-color : #F5F7FA;
  --secondary-bg-color : #f0f3f9; 
}

body{
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 768px) {
  body{
    max-width: 768px;
    padding: 0;
    margin: 0; 
  }

}